// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// SCSS Fonts
// Font Imports

@font-face {
  font-family: '#{$vr-bold}';
  src: url('#{$vr-path}#{$vr-bold}.eot');
  src: url('#{$vr-path}#{$vr-bold}.eot?#iefix') format('embedded-opentype'),
  url('#{$vr-path}#{$vr-bold}.woff2') format('woff2'),
  url('#{$vr-path}#{$vr-bold}.woff') format('woff'),
  url('#{$vr-path}#{$vr-bold}.ttf') format('truetype'),
  url('#{$vr-path}#{$vr-bold}.svg#volte_roundedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '#{$vr-medium}';
  src: url('#{$vr-path}#{$vr-medium}.eot');
  src: url('#{$vr-path}#{$vr-medium}.eot?#iefix') format('embedded-opentype'),
  url('#{$vr-path}#{$vr-medium}.woff2') format('woff2'),
  url('#{$vr-path}#{$vr-medium}.woff') format('woff'),
  url('#{$vr-path}#{$vr-medium}.ttf') format('truetype'),
  url('#{$vr-path}#{$vr-medium}.svg#volte_roundedmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '#{$vr-regular}';
  src: url('#{$vr-path}#{$vr-regular}.eot');
  src: url('#{$vr-path}#{$vr-regular}.eot?#iefix') format('embedded-opentype'),
  url('#{$vr-path}#{$vr-regular}.woff2') format('woff2'),
  url('#{$vr-path}#{$vr-regular}.woff') format('woff'),
  url('#{$vr-path}#{$vr-regular}.ttf') format('truetype'),
  url('#{$vr-path}#{$vr-regular}.svg#volte_roundedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '#{$vr-semibold}';
  src: url('#{$vr-path}#{$vr-semibold}.eot');
  src: url('#{$vr-path}#{$vr-semibold}.eot?#iefix') format('embedded-opentype'),
  url('#{$vr-path}#{$vr-semibold}.woff2') format('woff2'),
  url('#{$vr-path}#{$vr-semibold}.woff') format('woff'),
  url('#{$vr-path}#{$vr-semibold}.ttf') format('truetype'),
  url('#{$vr-path}#{$vr-semibold}.svg#volte_roundedsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}