// -----------------------------------------------------------------------------
// This file contains all application-wide SCSS Mixins.
// -----------------------------------------------------------------------------
// SCSS Mixins

/// Event wrapper
/// @author Nestor Kauil
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Nestor Kauil
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px){
    @content
  }
}



@mixin tablet {
  @media screen and (min-width: $tablet), print{
    @content
  }
}



@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px){
    @content
  }
}



@mixin desktop {
  @media screen and (min-width: $desktop){
    @content
  }
}



@mixin desktop-only {
  @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px){
    @content
  }
}

