// -----------------------------------------------------------------------------
// This file contains all application-wide SCSS Variables.
// -----------------------------------------------------------------------------
// SCSS Variables

// ---------
// Colors
// ---------
// Gray Scale
$gray-darker   : #484848;
$gray-dark     : #6c6c6c;
$gray          : #8e8e8e;
$gray-light    : #b0b0b0;
$gray-lighter  : #e6e6e6;
$gray-lightest : #f4f4f4;
$white         : #ffffff;

// Brand Scale
$brand-primary : #00d1c1;
$brand-success : #4eb76e;
$brand-warning : #cbb956;
$brand-danger  : #bf5329;
$brand-info    : #8eb4cb;


// Icons
$icon-font-path : "../../fonts/";
$icon-font-name : "toolkit-entypo";
$iconfont-path  : '../fonts/entypo/';
$icon-font-name : 'iorni-entypo';

// Volte Rounded Fonts
$vr-path     : '../../fonts/volte-rounded-webfont/';
$vr-bold     : 'volte-rounded-bold-webfont';
$vr-medium   : 'volte-rounded-medium-webfont';
$vr-regular  : 'volte-rounded-regular-webfont';
$vr-semibold : 'volte-rounded-semibold-webfont';

// Body
$body-bg: #fff;

/// Regular font family
/// @type List
$text-font-stack: '#{$vr-regular}', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Copy text color
/// @type Color
$text-color : rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color : rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey : $gray-light !default;

/// Medium grey
/// @type Color
$mid-grey : $gray !default;

/// Dark grey
/// @type Color
$dark-grey: $gray-dark !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
        'small': 320px,
        'medium': 768px,
        'large': 1024px,
) !default;


// Responsiveness
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 40px
$desktop: 1000px !default
// 1152px container + 40
$widescreen: 1192px !default
// 1344px container + 40
$fullhd: 1384px !default


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;